body {
    background-color: #DDD;
    margin: 50px;
    font-family: 'Karla', sans-serif;
    color: #555;
    font-size: 12pt;
}


#navbar {
    position: fixed;
    width: 200px;
    height: 100%;
}

.title {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #222;
    font-size: 16pt;
}

.link {
    text-decoration: none;
    color: #555;
}

.active-link {
    text-decoration: none;
    color: black;
}

#content {
    margin-left: 250px; 
}

#alonzo {
    display: block;
    margin: auto;
    height: 90%;
    position: relative;
}

#picture {
    float: left;
    width: 50%;
    max-width: 1000px;
}

#aboutme {
    margin-left: 50%;
}

#quicklinks{
    position: absolute;
    bottom: 50;
    margin-bottom: 50px;
}

.project {
    padding-bottom: 10px;
    width: 100%;
}

.column {
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
    float: left;
}

.thumb {
    width: 100%;
}