body {
    background-color: white;
    margin: 50px;
    font-family: 'Karla', sans-serif;
    color: #555;
    font-size: 12pt;
}

.body-fixed {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}


#navbar {
    position: fixed;
    width: 200px;
    height: 100%;
}

.title {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #222;
    font-size: 16pt;
}

.link {
    text-decoration: none;
    color: #555;
}

.active-link {
    text-decoration: none;
    color: black;
}

#content {
    margin-left: 250px; 
}

#alonzo {
    display: block;
    margin: auto;
    width: 90%;
}

#picture {
    float: left;
    width: 45%;
    max-width: 1000px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#aboutme {
    margin-left: 50%;
}

#quicklinks{
    position: absolute;
    bottom: 50;
    margin-bottom: 50px;
}

.project-wrapper {
    width: 100%;
}

.project {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.project-column {
    padding-right: 20px;
    width: 45%;
    float: left;
}

.block-link {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.title-span {
    display: table-cell;
    vertical-align: middle;
}

.blue-overlay {
    background-color: #8FF0FF;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.home-column {
    width: 33%;
    float: left;
    overflow: hidden;
}

.thumb {
    width: 100%;
}

#hamburger {
    display: none;
    margin-bottom: 20px;
}

#hamburger-menu {
    top: 42; 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    display: none;
    opacity: .9;
}

#menu {
    width: 32px;
    height: 32px;
    float: right;
}

.menu-image {
    width: 32px;
    height: 32px;
}

#infographic {
    width: 100%;
    position: relative;
}

#room {
    width: 100%;
    position: relative;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

@keyframes pointer {
    from {top: 2%;}
    to {top: 4%;}
}

#clickme {
    width: 100%;
    position: absolute;
    top: 4px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    animation-name: pointer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#infobox {
    width: 49%;
    position: absolute;
    top: 12%;
    left: 48%;
    height: 49%;
    background-color: white;
    border: 1px solid #222;
    display: none;
    padding: 5px;
    opacity: .9;
}

#infobox-copy {
    height: 92%;
    overflow: auto;
}

#close {
    position: absolute;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
}

#slideshow {
    width: 100%;
    padding-top: 75%;
    background-color: #555;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    image-rendering: auto;
}

.slide {
    top: 0%;
    position: absolute;
    border: 1 solid black;
    width: 100%;
    display: none;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}

.nav-arrow {
    position: absolute; 
    top: 50%;
    margin-top: -32px;
    opacity: .3;
}

.nav-arrow:hover {
    opacity: .8;
}

#arrow-left {
    left: 0;
    z-index: 999;
}

#arrow-right {
    left: 100%;
    margin-left: -32px;
    z-index: 999;
}

#enlarged-image {
    background-color: #555;
    position: fixed;
    width: 50%;
    top: 25%;
    left: 25%;
    border: 1px solid black;
    overflow: hidden;
    image-rendering: auto;
}